.btnA {
    background-color: #46139f;
    color: white;
}

.btnA:hover {
    background-color: #46139f;
    color: white;
}

.btnB {
    background-color: #ff7f50;
    color: white;
}

.btnB:hover {
    background-color: #ff7f50;
    color: white;
}

.btnC {
    background-color: white;
    border-color: #46139f;
    color: black;
}

.btnC:hover {
    background-color: white;
    border-color: #46139f;
    color: black;
}